set_io --warn-no-port nrst 10
set_io --warn-no-port ext_osc 20
set_io --warn-no-port redOut 4
set_io --warn-no-port greenOut 3
set_io --warn-no-port blueOut 48
set_io --warn-no-port intenseOut 45
set_io --warn-no-port hSyncOut 46
set_io --warn-no-port vSyncOut 47
set_io --warn-no-port hostBusAddr[0] 35
set_io --warn-no-port hostBusAddr[1] 6
set_io --warn-no-port hostBusAddr[2] 31
set_io --warn-no-port hostBusAddr[3] 44
set_io --warn-no-port hostBusAddr[4] 37
set_io --warn-no-port hostBusAddr[5] 34
set_io --warn-no-port hostBusAddr[6] 43
set_io --warn-no-port hostBusAddr[7] 36
set_io --warn-no-port hostBusAddr[8] 11
set_io --warn-no-port hostBusAddr[9] 32
set_io --warn-no-port hostBusAddr[10] 9
set_io --warn-no-port hostBusData[0] 12
set_io --warn-no-port hostBusData[1] 21
set_io --warn-no-port hostBusData[2] 23
set_io --warn-no-port hostBusData[3] 13
set_io --warn-no-port hostBusData[4] 25
set_io --warn-no-port hostBusData[5] 19
set_io --warn-no-port hostBusData[6] 26
set_io --warn-no-port hostBusData[7] 18
set_io --warn-no-port nHostRMEM 28
set_io --warn-no-port nHostWMEM 2
set_io --warn-no-port nHostVRAMEn 42
set_io --warn-no-port nHostBankRegEn 38
set_io --warn-no-port hostBusDir 27
