set_io --warn-no-port nrst 10
set_io --warn-no-port ext_osc 20
set_io --warn-no-port redOut 4
set_io --warn-no-port greenOut 3
set_io --warn-no-port blueOut 48
set_io --warn-no-port intenseOut 45
set_io --warn-no-port hSyncOut 46
set_io --warn-no-port vSyncOut 47
